aniso8601==8.1.0
appdirs==1.4.4
autopep8==1.5.4
awscli==1.18.216
backcall==0.2.0
bcrypt==3.2.0
bidict==0.21.2
blinker==1.4
blis==0.7.4
botocore==1.19.56
catalogue==2.0.1
certifi==2019.9.11
cffi==1.14.4
chardet==3.0.4
ChatterBot==1.0.0
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.3
cs50==4.0.2
cymem==2.0.5
decorator==4.4.2
distlib==0.3.1
dnspython==2.0.0
docutils==0.15.2
email-validator==1.1.2
env==0.1.0
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-JWT-Extended==3.25.0
Flask-Mail==0.9.1
flask-mongoengine==1.0.0
Flask-RESTful==0.3.8
Flask-Session==0.3.1
Flask-SocketIO==5.0.1
Flask-WTF==0.14.3
gunicorn==19.9.0
idna==2.8
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.10.1
jmespath==0.10.0
joblib==1.0.0
MarkupSafe==1.1.1
mathparse==0.1.2
mccabe==0.6.1
mongoengine==0.22.1
murmurhash==1.0.5
nltk==3.5
numpy==1.19.5
packaging==20.8
parso==0.8.1
pathy==0.3.4
pickleshare==0.7.5
Pint==0.16.1
pipenv==2020.11.15
preshed==3.0.5
prompt-toolkit==3.0.10
pyasn1==0.4.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.7.3
pyflakes==2.2.0
Pygments==2.7.4
PyJWT==1.7.1
pymongo==3.11.2
pyparsing==2.4.7
python-dateutil==2.7.5
Python-dev==2.0.0.dev0
python-dotenv==0.15.0
python-engineio==4.0.0
python-socketio==5.0.4
pytz==2020.4
PyYAML==3.13
regex==2020.11.13
requests==2.22.0
rsa==4.5
s3transfer==0.3.4
six==1.15.0
smart-open==3.0.0
spacy-legacy==3.0.0.dev0
spacy-nightly==3.0.0rc3
SQLAlchemy==1.2.19
sqlparse==0.3.0
srsly==2.3.2
termcolor==1.1.0
thinc==8.0.0rc4
toml==0.10.2
tqdm==4.56.0
traitlets==5.0.5
typer==0.3.2
urllib3==1.25.5
virtualenv==20.2.2
virtualenv-clone==0.5.4
wasabi==0.8.0
wcwidth==0.2.5
Werkzeug==0.16.0
WTForms==2.3.3
